.sparkle {
     box-shadow: 1px 1px 3px 2px #E6E8FA; -webkit-box-shadow: 1px 1px 3px 2px #E6E8FA;-moz-box-shadow:1px 1px 3px 2px #E6E8FA;
}

.navbar {
    background-color: #871F78;
}

.navbar-brand{
    color:#ffffff !important;
}